<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center" style="font-family: 'Ubuntu', sans-serif;">
        <h1>themilescollective</h1>
        <h3>Jeff Miles Artwork</h3>
        <br>
        <%= link_to 'Continue to Website', homepage_path, class:"btn btn-dark btn-lg" %>
    </div>
</header>
