<nav class="navbar navbar-inverse navbar-fixed-bottom"role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active"><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Gallery', gallery_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<ul class="navv">
  <div style="font-family: 'Ubuntu', sans-serif;">
      <h2>About</h2>
  </div>
</ul>
<div id="about-me-container">
  <!-- Callout -->
  <aside class="callout" style="box-shadow: 18px 15px 5px #888888">
      <div class="text-vertical-center">
          <h1>About Me</h1>
      </div>
  </aside>
  <!-- Services -->
  <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
  <section id="services" class="services-content">
      <div class="container-about-me-content">
          <div class="row text-center">
              <div class="col-lg-10 col-lg-offset-1">
                  <h2>Jeff Miles</h2>
                  <hr class="small">
                  <div class="row" style="padding-bottom:15%">
                      <p>
                        Welcome to my portfolio! My name is Jeff Miles and I am a young painter that is passionate about art and how it allows us to express our emotions, concepts, mindsets, and opinions. I have been drawing since I was a toddler, using mostly graphite, charcoals, and pastels. I started out at a young age drawing cartoons, tattoo designs and familiar figures such as portraits of close friends or celebrities. As I grew older I started to draw out concepts that somehow went from my mind, flowed through my fingers to the paper. It was at this point that I started to understand what art really was.
                      </p>
                      <p>
                        It was not until my second year of college that I picked up a paintbrush for the first time. It took a while to get used to but oil paints have become my favorite and primary medium. The flexibility of the paint acts as therapy for my mind and allows me to express myself in a different way than graphite did. You’ll notice that most of my paintings will either be based off of social issues or how I view everyday life.  I quickly noticed that drawing things to customers’ requests didn’t feel like art. It was the creation of my own art that made me love art so much. I have become so connected to my paintings that I have officially stopped accepting outside requests. In other words, I am no longer drawing or paintings portraits, tattoo designs, or any other drawings for customers.
                      </p>
                      <p>
                        All of the paintings that you see on this website are on sale and can be shipped to your current location. If you are interested in purchasing a painting, you can contact me through my email which you can find on my contact page.
                      </p>
                      <br>
                      <br>
                  </div>
                  <!-- /.row (nested) -->
              </div>
              <!-- /.col-lg-10 -->
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container -->
  </section>

</div>
